[Unit]
Description=mihomo Service
After=network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=/root/mihomo
ExecStart=/root/mihomo/mihomo -d /root/mihomo
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target